<!-- chat/templates/base_generic.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="turbo-cache-control" content="no-preview">
    <title>Chat App</title>
    <!-- Include Tailwind CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/bundle.js' %}"></script>
</head>

<body class="bg-gray-100">
    <main class="flex w-full h-screen">
        {% include '_sidebar.html' %}
        <!-- Main Content -->
        <div class="flex-1 flex-grow">
            {% block content %}{% endblock %}
        </div>
    </main>

    <script>
        function toggleMenu(event, menuId, isLast) {
            event.stopPropagation();
            var menu = document.getElementById(menuId);
            var button = event.currentTarget;
            var rect = button.getBoundingClientRect();

            menu.classList.toggle('hidden');

            if (!menu.classList.contains('hidden')) {
                // Position the menu relative to the button
                var menuRect = menu.getBoundingClientRect();
                var topPosition = rect.bottom;
                var leftPosition = rect.left - menu.offsetWidth + button.offsetWidth;

                // Check if menu would go below viewport
                if (topPosition + menuRect.height > window.innerHeight) {
                    topPosition = rect.top - menuRect.height;
                }

                menu.style.top = `${topPosition}px`;
                menu.style.left = `${leftPosition}px`;
            }
        }

        // Close the pop-up menu when clicking outside of it
        window.addEventListener('click', function () {
            document.querySelectorAll('.pop-up-menu').forEach(function (menu) {
                menu.classList.add('hidden');
            });
        });
    </script>
</body>

</html>